<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:hhSlider="http://typo3.org/ns/HauerHeinrich/HhSlider/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:variable name="record">{_all}</f:variable>

<hhSlider:editLink element="{record}">
    <div class="settings settings-slider">
        <ul style="list-style: none;">
            <li>
                <b>Content Type:</b>
                <f:switch expression="{record.tx_hhslider_content_type}">
                    <f:case value="1">Images</f:case>
                    <f:case value="2">Content-Elements</f:case>
                    <f:case value="3">Folder</f:case>
                    <f:defaultCase></f:defaultCase>
                </f:switch>
            </li>

            <f:switch expression="{record.tx_hhslider_content_type}">
                <f:case value="1">
                    <f:if condition="{record.assets}">
                        <hhSlider:fal table="tt_content" field="assets" id="{record.uid}" as="references" />
                        <f:if condition="{references}">
                            <li class="items">
                                <f:for each="{references}" as="item">
                                    <f:image src="{item.uid}" treatIdAsReference="1" width="150c" />
                                </f:for>
                            </li>
                        </f:if>
                    </f:if>
                </f:case>
                <f:case value="2">
                    <f:comment>{record.tx_hhslider_child_content}</f:comment>
                </f:case>
                <f:case value="3">
                    <li>
                        <b>Folder:</b> {record.tx_hhslider_folder}
                    </li>
                </f:case>
                <f:defaultCase></f:defaultCase>
            </f:switch>
        </ul>
    </div>

    <div class="settings">
        <ul style="list-style: none;">
            <f:if condition="{record.layout}">
                <li>
                    <b>Layout:</b> {record.layout}
                </li>
            </f:if>

        </ul>
    </div>
</hhSlider:editLink>

</html>
