<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:hh="http://typo3.org/ns/HauerHeinrich/HhSlider/ViewHelpers"
    data-namespace-typo3-fluid="true">

<div class="swiper-container gallery-thumbs-{data.uid}">
    <div class="swiper-wrapper">
        <f:if condition="{data.tx_hhslider_content_type} == 1">
            <f:if condition="{data_assets}">
                <f:for each="{data_assets}" as="file">
                    <div class="swiper-slide">
                        <f:if condition="{file.description}">
                            <figure>
                        </f:if>
                            <f:render partial="Media/Rendering/Image" arguments="{_all}" />
                        <f:if condition="{file.description}">
                                <figcaption>
                                    <f:format.html>{file.description}</f:format.html>
                                </figcaption>
                            </figure>
                        </f:if>
                    </div>
                </f:for>
            </f:if>
        </f:if>

        <f:if condition="{data.tx_hhslider_content_type} == 2">
            <f:if condition="{data_tx_hhslider_child_content}">
                <f:for each="{data_tx_hhslider_child_content}" as="content_item">
                    <div class="swiper-slide">
                        <f:cObject typoscriptObjectPath="tt_content" data="{content_item.data}" table="tt_content" />
                    </div>
                </f:for>
            </f:if>
        </f:if>
    </div>
</div>
<hh:addAssetsData type="js">
    <script>
        window.addEventListener("load", function() {
            <f:comment></f:comment>var hhSliderGallery{data.uid} = new Swiper('.gallery-thumbs-{data.uid}', {
                spaceBetween: 10,
                slidesPerView: 4,
                freeMode: true,
                watchSlidesVisibility: true,
                watchSlidesProgress: true
            });
        });
    </script>
</hh:addAssetsData>

</html>
