<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:hhSlider="http://typo3.org/ns/HauerHeinrich/HhSlider/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:render partial="Assets/SliderJson" arguments="{_all}" />

<f:if condition="{settings.jsFile}">
    <f:asset.script identifier="hh-slider-tiny-slider" src="EXT:hh_slider/Resources/Public/JavaScript/tiny-slider.min.js" />
    <f:asset.script identifier="hh-slider-tiny-slider-config" src="EXT:hh_slider/Resources/Public/JavaScript/main.min.js" />
</f:if>

</html>
