<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:hhSlider="http://typo3.org/ns/HauerHeinrich/HhSlider/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="Content">

    <div class="slider-container slider-container-{data.uid}">
        <f:if condition="{data.tx_hhslider_content_type} == 1">
            <f:if condition="{data_assets}">
                <f:for each="{data_assets}" as="file">
                    <div class="slider-slide">
                        <f:if condition="{file.description}">
                            <figure>
                        </f:if>
                            <f:render partial="Media/Rendering/Image" arguments="{_all}" />
                        <f:if condition="{file.description}">
                                <figcaption>
                                    <f:format.html>{file.description}</f:format.html>
                                </figcaption>
                            </figure>
                        </f:if>
                    </div>
                </f:for>
            </f:if>
        </f:if>

        <f:if condition="{data.tx_hhslider_content_type} == 2">
            <f:if condition="{data_tx_hhslider_child_content}">
                <f:for each="{data_tx_hhslider_child_content}" as="content_item">
                    <div class="slider-slide">
                        <f:cObject typoscriptObjectPath="tt_content" data="{content_item.data}" table="tt_content" />
                    </div>
                </f:for>
            </f:if>
        </f:if>

        <f:if condition="{data.tx_hhslider_content_type} == 3">
            <f:if condition="{folderFiles}">
                <f:for each="{folderFiles}" as="file" iteration="i">
                    <f:if condition="{file.extension} == 'mp4' || {file.extension} == 'webm' || {file.extension} == 'ogv' || {file.extension} == 'ogg'">
                        <f:then>
                            <f:media class="video-embed-item" file="{file}" alt="{file.alternative}" title="{file.title}" additionalConfig="{settings.media.additionalConfig}" />
                        </f:then>
                        <f:else>
                            <f:media class="" file="{file}" alt="{file.alternative}" title="{file.title}" />
                        </f:else>
                    </f:if>
                </f:for>
            </f:if>
        </f:if>
    </div>

    <f:if condition="{data.tx_hhslider_autoplay} && {data.tx_hhslider_disable_on_interaction}">
        <button type="button" class="btn-slider btn-autoplay disabled">autoplay</button>
    </f:if>

    <f:if condition="{data.tx_hhslider_arrows}">
        <span class="slider-button slider-button-prev"></span>
        <span class="slider-button slider-button-next"></span>
    </f:if>

    <f:if condition="{data.tx_hhslider_thumbnails}">
        <f:then>
            <f:render partial="Thumbnails" arguments="{_all}" />
        </f:then>
    </f:if>

    <f:if condition="{data.tx_hhslider_pagination}">
        <f:if condition="{data.tx_hhslider_content_type} == 1">
            <f:variable name="items">{data_assets}</f:variable>
        </f:if>

        <f:if condition="{data.tx_hhslider_content_type} == 2">
            <f:variable name="items">{data_tx_hhslider_child_content}</f:variable>
        </f:if>

        <div class="tns-nav pagination" aria-label="Carousel Pagination">
            <f:for each="{items}" as="item" iteration="i">
                <button data-nav="{i.index}" aria-controls="tns1" style="" aria-label="Carousel Page {i.cycle}" class="{f:if(condition: '{i.isFirst}', then: 'tns-nav-active')}" tabindex="-1"></button>
            </f:for>
        </div>
    </f:if>

    <f:if condition="{data.tx_hhslider_content_text}">
        <f:then>
            <div class="ce-bodytext">
                <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data.tx_hhslider_content_text}</f:format.html>
            </div>
        </f:then>
    </f:if>
</f:section>

</html>
