<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:hhSlider="http://typo3.org/ns/HauerHeinrich/HhSlider/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="Content">
    <div class="slider-container slider-container-{data.uid}">
        <f:switch expression="{data.tx_hhslider_content_type}">
            <f:case value="2"><f:render partial="ContentTypes/Content" arguments="{_all}" /></f:case>
            <f:case value="3"><f:render partial="ContentTypes/Folder" arguments="{_all}" /></f:case>
            <f:defaultCase><f:render partial="ContentTypes/Images" arguments="{_all}" /></f:defaultCase>
        </f:switch>
    </div>

    <f:render partial="Options" arguments="{_all}" />

    <f:if condition="{data.tx_hhslider_content_text}">
        <f:then>
            <div class="ce-bodytext">
                <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data.tx_hhslider_content_text}</f:format.html>
            </div>
        </f:then>
    </f:if>
</f:section>

</html>
