<!-- Swiper -->
<div class="swiper-container gallery-top">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img src="/fileadmin/hh_theme_prechtl/images/test_images/1750x700.jpg" /></div>
      <div class="swiper-slide"><img src="/fileadmin/hh_theme_prechtl/images/test_images/1400x650.jpg" /></div>
      <div class="swiper-slide"><img src="/fileadmin/hh_theme_prechtl/images/test_images/1750x700.jpg" /></div>
      <div class="swiper-slide"><img src="/fileadmin/hh_theme_prechtl/images/test_images/1300x620.jpg" /></div>
      <div class="swiper-slide"><img src="/fileadmin/hh_theme_prechtl/images/test_images/1750x700.jpg" /></div>
      <div class="swiper-slide"><img src="/fileadmin/hh_theme_prechtl/images/test_images/1750x700.jpg" /></div>
      <div class="swiper-slide"><img src="/fileadmin/hh_theme_prechtl/images/test_images/1750x700.jpg" /></div>
      <div class="swiper-slide"><img src="/fileadmin/hh_theme_prechtl/images/test_images/1750x700.jpg" /></div>
      <div class="swiper-slide"><img src="/fileadmin/hh_theme_prechtl/images/test_images/1750x700.jpg" /></div>
      <div class="swiper-slide"><img src="/fileadmin/hh_theme_prechtl/images/test_images/1750x700.jpg" /></div>
    </div>
    <!-- Add Arrows -->
    <div class="swiper-button-next swiper-button-white"></div>
    <div class="swiper-button-prev swiper-button-white"></div>
  </div>
  <div class="swiper-container gallery-thumbs-1">
    <div class="swiper-wrapper">
      <div class="swiper-slide" ><img src="/fileadmin/hh_theme_prechtl/images/test_images/1750x700.jpg" /></div>
      <div class="swiper-slide" ><img src="/fileadmin/hh_theme_prechtl/images/test_images/1400x650.jpg" /></div>
      <div class="swiper-slide" ><img src="/fileadmin/hh_theme_prechtl/images/test_images/1750x700.jpg" /></div>
      <div class="swiper-slide" ><img src="/fileadmin/hh_theme_prechtl/images/test_images/1300x620.jpg" /></div>
      <div class="swiper-slide" ><img src="/fileadmin/hh_theme_prechtl/images/test_images/1750x700.jpg" /></div>
      <div class="swiper-slide" ><img src="/fileadmin/hh_theme_prechtl/images/test_images/1750x700.jpg" /></div>
      <div class="swiper-slide" ><img src="/fileadmin/hh_theme_prechtl/images/test_images/1750x700.jpg" /></div>
      <div class="swiper-slide" ><img src="/fileadmin/hh_theme_prechtl/images/test_images/1750x700.jpg" /></div>
      <div class="swiper-slide" ><img src="/fileadmin/hh_theme_prechtl/images/test_images/1750x700.jpg" /></div>
      <div class="swiper-slide" ><img src="/fileadmin/hh_theme_prechtl/images/test_images/1750x700.jpg" /></div>
    </div>
  </div>


  <!-- Initialize Swiper -->
  <script>
      window.addEventListener("load", function() {
    var galleryThumbs = new Swiper('.gallery-thumbs-1', {
      spaceBetween: 10,
      slidesPerView: 4,
      loop: true,
      freeMode: true,
      loopedSlides: 5, //looped slides should be the same
      watchSlidesVisibility: true,
      watchSlidesProgress: true,
    });
    var galleryTop = new Swiper('.gallery-top', {
      spaceBetween: 10,
      loop:true,
      loopedSlides: 5, //looped slides should be the same
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      thumbs: {
        swiper: galleryThumbs,
      },
    });
});
  </script>