<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:hhSlider="http://typo3.org/ns/HauerHeinrich/HhSlider/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:if condition="{items}">
    <f:comment>https://github.com/Hauer-Heinrich/hh_slider/issues/10</f:comment>
    <f:if condition="{settings.hh_video_extender.isLoaded} == 1">
        <f:then>
            <f:for each="{items}" as="item" iteration="i">
                <div class="item">
                    <f:switch expression="{item.extension}">
                        <f:case value="mp4">
                            <f:media class="video-embed-item" file="{item}" additionalConfig="{settings.media.additionalConfig}" />
                        </f:case>
                        <f:case value="webm"></f:case>
                        <f:case value="ogv"></f:case>
                        <f:case value="ogg"></f:case>
                        <f:defaultCase>
                            <f:media file="{item}" alt="{item.alternative}" title="{item.title}" />
                        </f:defaultCase>
                    </f:switch>
                </div>
            </f:for>
        </f:then>
        <f:else>
            <f:for each="{items}" as="item" iteration="i">
                <div class="item">
                    <f:if condition="{item.type} == 4">
                        <f:then>
                            <f:media class="video-embed-item" file="{item}" additionalConfig="{settings.media.additionalConfig}" />
                        </f:then>
                        <f:else>
                            <f:media file="{item}" alt="{item.alternative}" title="{item.title}" />
                        </f:else>
                    </f:if>
                </div>
            </f:for>
        </f:else>
    </f:if>
</f:if>

</html>
