<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:hhSlider="http://typo3.org/ns/HauerHeinrich/HhSlider/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:if condition="{items}">
    <f:for each="{items}" as="item">
        <div class="swiper-slide">
            <f:switch expression="{item.type}">
                <f:case value="3">
                    <f:render partial="Media/Type/Audio" arguments="{file: item, dimensions: dimensions, data: data, settings: settings}" />
                </f:case>
                <f:case value="4">
                    <f:render partial="ContentTypes/Folder" arguments="{settings: settings, data: data, folderFiles: '{0: item}'}" />
                </f:case>
                <f:defaultCase>
                    <f:if condition="{item.description}">
                        <figure>
                    </f:if>
                        <f:render partial="Media/Rendering/Image" arguments="{file: item, data: data}" />
                    <f:if condition="{item.description}">
                            <figcaption>
                                <f:format.html>{item.description}</f:format.html>
                            </figcaption>
                        </figure>
                    </f:if>
                </f:defaultCase>
            </f:switch>
        </div>
    </f:for>
</f:if>

</html>
